.event_panel {
  display: flex;
  flex-direction: column;

  height: 100%;

  background: var(--md-sys-color-surface-container-low);
  padding: 1em;
  gap: 1rem;
  border-radius: var(--border-radius);

  box-sizing: border-box;
}

.event_list {
  flex: 1;
  overflow-y: auto;
  min-height: 0;

  scrollbar-color: var(--md-sys-color-outline-variant) transparent;
  scrollbar-width: thin;
}
