.admin_layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.5em;
  padding: 1.5em 1.5em 1.5em;
  height: 100%;
  box-sizing: border-box;
  background: var(--md-sys-color-surface-container);
}

.admin_panel {
  background: var(--md-sys-color-surface-container-low);
  border-radius: var(--border-radius);
}
