:root {
  --md-filled-tonal-button-container-shape: 0px;
  --md-filled-tonal-button-label-text-font: system-ui;
  --md-sys-color-secondary-container: #CCE8E7;
  --md-sys-color-on-secondary-container: #051F1F;
}

.adminbar {
  position: fixed;
  top: 64px;
  width: 100%;
  height: 64px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;
  background-color: #efeff3;
}
