.admin_sidebar {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1.5em;
  background: var(--md-sys-color-surface-coutainer);
  border-radius: var(--border-radius);
  align-content: start;
  grid-auto-rows: 4em;
}

.admin_sidebar_button {
  font-size: 17px;
}
