.adminbar {
  padding-block: 0.55rem;
  padding-inline: 1.5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 0.75em;
}
