.navbar {
  padding-block: 0.55rem;
  padding-inline: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1em;
}

.profile-icon {
  font-size: 2.5em;

  width: auto;
  height: auto;
}

.role-label {
  font-size: 0.85rem;
  color: var(--md-sys-color-on-surface-variant);
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 0.75em;
}
