/* Container */
.blacklist-container {
  display: flex;
  background-color: #ffffff;
  gap: 24px;
  padding: 2px 24px;
}

.page-header {
  margin-top: 80px; 
  color: #1e1e2f;
  font-size: 24px;
  /* padding-bottom: 12px; */
  padding-left: 24px;
}

/* Panels */
.left-panel,
.right-panel {
  flex: 1;
  background: #ffffff;
  padding: 32px;
  border-radius: 16px;
  height: 75vh;
  border: 2px solid rgba(0, 0, 0, 0.25);
  color: rgba(15, 14, 14, 0.887);
}

/* Headings */
.left-panel h2,
.right-panel h2 {
  margin-bottom: 16px;
  font-weight: 600;
}

/* Select + input full width */
.event-select,
md-outlined-text-field {
  width: 95%;
  margin-bottom: 16px;
}

/* List container */
md-list {
  background: transparent;
  padding: 0;
}

/* List item styling */
md-list-item {
  --md-list-item-container-color: #ffffff;
  --md-list-item-label-text-color: #1e1e2f;
  border: 1.5px solid #494949;
  margin-bottom: 10px;
  border-radius: 12px;
  width: 95%;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* Hover effect */
md-list-item:hover {
  transform: translateY(-2px);
  border: 0px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Delete button */
.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  cursor: pointer;

  transition: background 0.2s ease;
}

.delete-btn:hover {
  background: rgba(255, 0, 0, 0.15);
}

.delete-btn img {
  width: 14px;
  height: 14px;
}

/* Optional: scroll if long list */
md-list {
  max-height: 480px;
  overflow-y: auto;
}

/* Scroll */
/* Scrollbar for md-list */
md-list::-webkit-scrollbar {
  padding-left: 5px;  
  width: 8px;
}

/* Track (background) */
md-list::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (the draggable part) */
md-list::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 120, 0.4);
  border-radius: 10px;
  transition: background 0.2s ease;
}

/* Hover effect */
md-list::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 120, 0.7);
}
