/* Layout */
 .layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5em;
  padding: 1.5em 1.5em 1.5em;
  min-height: calc(100vh - 4.5em);
  background: var(--md-sys-color-surface-container);
}

/* Panels */
.filter-sidebar, .events-panel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background: var(--md-sys-color-surface-container-low);
  padding: 1.5em;
  border-radius: var(--border-radius);
  align-content: start;
}

.filter-contents {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  border-radius: var(--border-radius-small);
}

h2 {
  color: var(--md-sys-color-on-surface);
}

/* Scroll */
md-list {
  max-height: 500px;
  overflow-y: auto;
}

md-list::-webkit-scrollbar {
  width: 6px;
}

md-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
